body#overr-boot{
    background-color: #1a1a1a;
}

.banner{
    background-color: #FF851B;
    height: 60px;
    position: relative;
}

.dive{
    border: 2px solid black;
}

.font{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

.timer{
    color: #FFFFFF;
    display: inline-block;
    padding: 5px 8px;
    position: absolute;
    left: 50px;
    margin-top: 5px;
    font-family: 'Abel', sans-serif;
    font-size: 25px;
}

.test-name{
    color: #FFFFFF;
    display: inline-block;
    padding: 5px 8px;
    position: absolute;
    right: 50px;
    margin-top: 5px;
    font-family: 'Abel', sans-serif;
    font-size: 25px;
}

.test-question{
    background-color: #DDDDDD;
    width: 800px;
    margin: 40px auto;
    border: 3px solid #FF851B;
    border-radius: 10px;
}

.details{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3px 6px;
}

.result{
    text-align: center;
    margin-top: 15px;
}

.result-text{
    border: 2px solid black;
    display: inline-block;
    border-radius: 10px;
    padding: 6px 10px;
    color: white;
    background-color: #FF851B;
}

.question-id{
    margin-top: 5px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 6px 10px;
    color: white;
    background-color: #FF851B;
    font-family: 'Raleway';
    font-size: 18px;
}

.question-points{
    list-style: none;
    margin-top: 5px;
}

.question-points> li{
    display: inline;
    border: 2px solid black;
    margin: 5px;
    border-radius: 10px;
    padding: 6px 10px;
    color: white;
    font-family: 'Raleway';
    font-size: 18px;
}

.hline{
    display: block;
    border-bottom: 2px solid #1a1a1a;
    width: 650px;
    margin: 0 auto;
}

.question{
    text-align: center;
    padding: 12px 12px;
    margin-top: 25px;
}

.choice-list{
    background-color: #1a1a1a;
    width: 650px;
    margin: 7px auto;
    list-style: none;
    padding: 6px;
}

.choice{
    padding: 3px 6px;
    margin: 7px;
    border-radius: 10px;
    background-color: #DDDDDD;
}

.choice-on-hover{
    background-color: #FF851B;
    color: #DDDDDD;
}

.choice-on-select{
    background-color: #FF4136;
    color: #DDDDDD;
}

.test-nav{
    list-style: none;
    text-align: center;
    margin-top: 15px;
    padding-right: 65px;
}

.nav-button{
    display: inline;
    margin: 15px;
    padding: 3px 6px;
    font-size: 26px;
    color: #0074D9;
    cursor: pointer;
}

#hide{
    display: none;
}

table#overr-boot{
    font-family: 'Abel', sans-serif;
    font-size: 21px;
    width: 700px;
    margin: 5px auto;
    border-collapse: collapse;
}

table caption{
    font-size: 30px;
    margin: 10px;
    text-align: center;
    padding: 0px;
    color: #000000;
}

table tr {
    background-color: #DDDDDD;
}

table th {
    text-align: center;
    letter-spacing: 0.1em;
    padding: 6px 12px;
    border-bottom: 1px solid #000000;
}

table td{
    text-align: center;
    padding: 10px 10px;
}
