body{
    background-color: #1a1a1a;
    margin: 0;
    padding: 0;
}

.dive{
    border: 2px solid black;
}

.header{
    background-color: #ffffff;
    height: 63px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 200ms;
}

.heading{
    font-family: 'Abel', sans-serif;
    font-size: 29px;
    padding: 4px 12px;
    margin: 0 0 0 25px;
    letter-spacing: 0.3em;
    border-bottom: 2px solid #000000;
    display: inline-block;
    transition: 100ms;
}

.main{
    font-family: 'Cinzel Decorative', serif;
    font-size: 1.12em;
    letter-spacing: 0.05em;
    font-weight: bold;
}

.list{
    width: 450px;
    margin: 80px auto;
    padding: 0px 5px;
}

.font{
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
}

.component{
    width: 400px;
    margin: 20px auto;
    border-radius: 10px;
    background-color: #ffffff;
    color: black;
    padding: 6px 12px;
}

.book-id{
    border-radius: 10px;
    background-color: #FF4136;
    color: #ffffff;
    width: 6%;
    margin: 10px auto;
    padding: 6px 12px;
    font-size: 2.27em;
    text-align: center;
}

.book-title{
    font-family: 'Abel', sans-serif;
    font-size: 1.6em;
    letter-spacing: 0.02em;
    color: #FF4136;
    padding: 15px 0;
    border-bottom: 2px solid #FF4136;
    text-align: center;
}

.book-cover{

}

.author{
    font-weight: bold;
}

.synopsis{
    font-size: 0.84em;
    padding: 12px 16px;
    border-top: 2px solid #FF4136;
    border-bottom: 2px solid #FF4136;
}

.book-details{
    font-size: 0.78em;
    list-style: none;
}

.book-details> li{
    margin-bottom: 10px;
}

.publisher, .rank, .weeks{
    padding: 6px 6px;
    border-bottom: 1px solid #0074D9;
}
